

body {background-color: #d5bff7;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
padding: 50px;
}
h1 {font-size: medium;
    font-weight: 400;
}


h2 {font-size: xx-large;
font-weight: 900;
}


p {font-size: small;
font-weight: 400;
}
